@model CourseProject.Models.Group
@Styles.Render("~/Teacher/View")
<style>

</style>
<div class="modal-content" id="info-form-group">
    <div class="panel-heading header-icon-box">
        Группа - @Model.Name
        <a href="#" data-dismiss="modal">&times;</a>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Пол</th>
                    <th>Форма образования</th>
                    <th>Номер телефона</th>
                    <th>Почта</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Students.Count() != 0)
                {
                    foreach (var (index, student) in Model.Students.Select((v, i) => (i, v)))
                    {
                        <tr style="cursor: pointer" onclick="window.location.href='InfoAboutUser/@student.Id'; return false">
                            <td>@(index + 1)</td>
                            <td>@student.User.Surname</td>
                            <td>@student.User.Name</td>
                            <td>@student.User.Gender</td>
                            <td>@student.FormOfEducation</td>
                            <td>@(student.User.PhoneNumber == @String.Empty ? "-Не указано-" : student.User.PhoneNumber)</td>
                            <td>@student.User.Email</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8">Нет ни одного студента</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

    </script>
}