@model CourseProject.Models.Info
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Информация о пользователе";
}
@Styles.Render("~/Admin/View")
@Styles.Render("~/Content/slick")
<div class="panel">
    <div class="panel-heading box-create">
        <text>
            Имя пользователя - @Model.User.UserName
        </text>
        @if (ViewBag.Specialization.GetType().Name == "Group")
        {
            @Html.ActionLink("Назад к списку", "ViewStudents", "Admin", null, new { @class = "btn btn-default" })
        }
        else
        {
            @Html.ActionLink("Назад к списку", "ViewTeachers", "Admin", null, new { @class = "btn btn-default" })
        }
    </div>
    <div class="panel-body info-panel">
        <div class="info-block">
            <div class="photo">
                <div class="panel-heading info-heading">Фотография</div>
                <img src="~/Content/bee-on-daisy.jpg" style=" width:100%;" />
            </div>
            <div class="info">
                <div class="panel-heading info-heading">Информация</div>
                <div class="info-body">
                    <div class="left-side">
                        <table class="table table-bordered table-info">
                            <tbody>
                                <tr>
                                    <td><b>Фамилия</b></td>
                                    <td>@Model.User.Surname</td>
                                </tr>
                                <tr>
                                    <td><b>Имя</b></td>
                                    <td>@Model.User.Name</td>
                                </tr>
                                <tr>
                                    <td><b>Отчество</b></td>
                                    <td>@(Model.User.Patronymic == String.Empty ? "-Не указано-" : Model.User.Patronymic)</td>
                                </tr>
                                <tr>
                                    <td><b>Пол</b></td>
                                    <td>@Model.User.Gender</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="right-side">
                        <table class="table table-bordered table-info">
                            <tbody>
                                <tr>
                                    <td><b>Роль</b></td>
                                    <td>@Model.User.Role</td>
                                </tr>
                                <tr>
                                    <td><b>@(Model.User.Role == "Студент" ? "Группа" : "Кафедра")</b></td>
                                    <td>@ViewBag.Specialization.Name</td>
                                </tr>
                                <tr>
                                    <td><b>Почта</b></td>
                                    <td>@Model.User.Email</td>
                                </tr>
                                <tr>
                                    <td><b>Телефон</b></td>
                                    <td>@(Model.User.PhoneNumber == String.Empty ? "-Не указан-" : Model.User.PhoneNumber)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.User.Role.Contains("Студент"))
        {
            <div class="recordbook-block">
                <div class="panel-heading info-heading">Зачетка</div>
                <div class="slick-slider single-item">
                    <div class="recordbook">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Название дисциплины</th>
                                    <th>Количество часов</th>
                                    <th>Оценка</th>
                                    <th>Дата сдачи</th>
                                    <th>ФИО Преподавателя</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.RecordBook.Exams.Count() != 0)
                                {
                                    foreach (var (index, item) in Model.RecordBook.Exams.Select((v, i) => (i, v)))
                                    {
                                        <tr>
                                            <td>@(index + 1)</td>
                                            <td>@item.Discipline.Name</td>
                                            <td>@item.Discipline.СountHours</td>
                                            @{
                                                string result;
                                                if (item.Rating == null)
                                                {
                                                    result = "Нет информации";
                                                }
                                                else if (item.Rating < 0)
                                                {
                                                    if (Model.User.Gender.Equals("Мужской"))
                                                    {
                                                        result = "Не явился";
                                                    }
                                                    else
                                                    {
                                                        result = "Не явилась";
                                                    }
                                                }
                                                else if (item.Rating < 4 && item.Rating >= 0)
                                                {
                                                    result = "Пересдача";
                                                }
                                                else
                                                {
                                                    result = item.Rating.ToString();
                                                }
                                            }
                                            <td>@result</td>
                                            <td>@item.Discipline.DateTime.ToShortDateString()</td>
                                            <td>@item.Discipline.Teacher.DisplayName</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">Нет ни одной дисциплины</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="recordbook">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Название дисциплины</th>
                                    <th>Количество часов</th>
                                    <th>Оценка</th>
                                    <th>Дата сдачи</th>
                                    <th>ФИО Преподавателя</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.RecordBook.Tests.Count() != 0)
                                {
                                    foreach (var (index, item) in Model.RecordBook.Tests.Select((v, i) => (i, v)))
                                    {
                                        <tr>
                                            <td>@(index + 1)</td>
                                            <td>@item.Discipline.Name</td>
                                            <td>@item.Discipline.СountHours</td>
                                            <td>@item.Rating</td>
                                            <td>@item.Discipline.DateTime.ToShortDateString()</td>
                                            <td>@item.Discipline.Teacher.DisplayName</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">Нет ни одной дисциплины</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="timetable-block"></div>
        }
    </div>
</div>
