@model IEnumerable<IGrouping<string, Discipline>>
@using CourseProject.Models.General
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Дисциплины";
}
@Styles.Render("~/Admin/View")
<div class="panel" id="view-form-discipline">
    <div class="panel-heading header-icon-box">
        Дисциплины
        @Html.ActionLink(" ", "CreateDiscipline", "Admin", null, new { @class = "btn btn-icon icon-plus" })
    </div>
    <div class="panel-body">
        <div class="modal fade" id="rate-form">
            <div class="modal-dialog" id="rate-dialog">
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Группа</th>
                    <th>Расположение</th>
                    <th>Дата</th>
                    <th>Тип</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() != 0)
                {
                    foreach (var group in Model)
                    {
                        <tr>
                            <td colspan="8">@group.Key</td>
                        </tr>
                        foreach (var (index, discipline) in group.Select((v, i) => (i, v)))
                        {
                            <tr>
                                <td>@(index + 1)</td>
                                <td>@discipline.Name</td>
                                <td>@discipline.Group.Name</td>
                                <td>к. @discipline.Building, ауд. @discipline.Audience</td>
                                <td>@discipline.DateTime.ToShortDateString()</td>
                                <td>@(discipline.IsExam ? "Экзамен" : "Зачет")</td>
                                <td>@(discipline.IsPassed ? "Сдана" : "Не сдана")</td>
                                <td class="last-td">
                                    @Html.ActionLink(" ", "SetRatings", "Admin", new { id = discipline.Id }, new { @class = "btn icon-list-ol btn-icon rate-item" })
                                    @Html.ActionLink(" ", "EditDiscipline", "Admin", new { id = discipline.Id }, new { @class = "btn icon-pencil btn-icon" })
                                    @using (Html.BeginForm("DeleteDiscipline", "Admin", new { id = discipline.Id }))
                                    {
                                        <button class="btn icon-remove btn-icon" type="submit"></button>
                                    }
                                </td>
                            </tr>
                        }
                    }

                }
                else
                {
                    <tr>
                        <td colspan="8">Нет ни одной дисциплины</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
