@model CourseProject.Models.Students.Group
@Styles.Render("~/Home/View")
<style>
    .header-icon-box{
        align-items: center;    
    }
    .header-icon-box a{
       font-size: 15px !important;
    }
</style>
<div class="modal-content" id="info-form-group">
    <div class="panel-heading header-icon-box">
        Группа - @Model.Name
        <a href="#" data-dismiss="modal">&times;</a>
    </div>
    <div class="panel-body">
        <div class="main-info">
            <div class="panel-heading header-icon-box">
                Информация
                @Html.ActionLink(" ", "InfoAboutRatings", "Home", new { id = Model.Id }, new { @class = "btn icon-list-ol btn-icon" })
            </div>
            <div class="main-info-block">
                <div class="col-md-6 block-column">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Faculty, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <span class="">@Html.DisplayFor(model => model.Faculty)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Specialty, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <span class="">@Html.DisplayFor(model => model.Specialty)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 block-column">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FormOfEducation, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            <span class="">@Html.DisplayFor(model => model.FormOfEducation)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.YearOfAdmission, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-7">
                            <span class="">@Html.DisplayFor(model => model.YearOfAdmission)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="table-students">
            <div class="panel-heading header-icon-box">
                Студенты
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Пол</th>
                        <th>Форма образования</th>
                        <th>Номер телефона</th>
                        <th>Почта</th>
                        <th class="last-th">Средний балл</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Students.Count() != 0)
                    {
                        foreach (var (index, student) in Model.Students.Select((v, i) => (i, v)))
                        {
                            <tr>
                                <td>@(index + 1)</td>
                                <td>@student.User.Surname</td>
                                <td>@student.User.Name</td>
                                <td>@student.User.Gender</td>
                                <td>@student.FormOfPayment</td>
                                <td>@(student.User.PhoneNumber == @String.Empty ? "-Не указано-" : student.User.PhoneNumber)</td>
                                <td>@student.User.Email</td>
                                <td>@student.AverageRating</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">Нет ни одного студента</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>